* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    position: relative;
    width: 100%;
    height: 600px;
    min-height: 400px;
    overflow: hidden;
    color: white;
    animation: banner 10s infinite linear alternate;
    background-size: 100% 100%;
}

@keyframes banner {

    0%,
    10% {
        background-image: url(img/capacitores-banner.png);
    }

    15%,
    25% {
        background-image: url(img/cautin-banner.webp);
    }

    30%,
    40% {
        background-image: url(img/harware-banner.jpg);
    }

    45%,
    55% {
        background-image: url(img/pics-banner.jpeg);
    }

    60%,
    70% {
        background-image: url(img/resistecia-pic-banner.png);
    }
    75%,
    85% {
        background-image: url(img/recistencias-banner.webp);
    }

    90%,
    100% {
        background-image: url(img/soldando-banner.png);
    }
}


.banner-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg,
            rgba(0, 0, 0, 0.7) 0%,
            rgba(0, 0, 0, 0.4) 40%,
            rgba(0, 0, 0, 0.1) 70%
            );
}



.banner-content {
    position: relative;
    z-index: 2;
    max-width: 500px;
    padding: 120px 60px;
}

.banner-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.banner-content p {
    line-height: 1,5;
    font-size: 1.1rem;
    margin-bottom: 30px;
}

.main-content{
    margin-top: 30px;
}

.subtitle{
    margin-left: 30px;
}

