@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.main-banner{
background: radial-gradient(
    circle,rgba(2, 0, 36, 1) 0%, 
    rgba(9, 9, 121, 1) 35%, 
    rgba(19, 87, 171, 1) 67%, 
    rgba(0, 212, 255, 1) 100%
    );
    color: #fff;
}

.title{
   font-size: 1.5rem;
}

