.banner-main{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 500px;
    width: 100%;
    background: linear-gradient(90deg,
    rgba(26, 0, 0, 1) 0%, 
    rgb(5, 6, 38) 10%, 
    rgb(17, 15, 43) 20%, 
    rgb(30, 28, 58) 30%,
    rgba(20, 31, 74, 1) 40%, 
    rgba(15, 42, 90, 1) 50%, 
    rgba(8, 51, 107, 1) 59%, 
    rgba(0, 64, 125, 1) 70%, 
    rgba(0, 123, 184, 1) 80%, 
    rgba(0, 212, 255, 1) 90%);
}

.lado-izquierdo{
    color: azure;  
}
.lado-derecho{
    position: relative;
    height: 100%;
    width: 100%;
}

.div-img-fondo{
    position: absolute;
    height: 100%;
    width: 100%;
}

.img-fondo{
    height: 100%;
    width: 100%;
}

.div-img-circulo{
    position: absolute;
    top: 300px;
    animation: turn1 10s linear infinite;

}

.img-circulo{
    height: 90%;
    width: 90%;
}

@keyframes turn1{
    to{
        transform: rotate(1turn);
    }
}



