@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

a,
li {
    font-size: 30px;
    font-family: "Oswald", sans-serif;
    color: black;
    
}

.menu {
   display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    background: rgba(169, 227, 241, 0.9);
    box-shadow: 0 0 25px #222;
    position: relative;
    z-index: 10;
}

.logo img {
    margin-top: 10px;
    height: 250px;
}

.opcions ul {
    display: flex;
    align-items: center;
}

.opcions li {
    margin-right: 1.5rem;
}

.banner {
    display: grid;
    grid-template-columns: 15% 30% 55%;
    width: 100%;
    height: 700px;
    color: white;
    animation: banner 10s infinite linear alternate;
    background-size: 100% 100%;
}

@keyframes banner {
    0%,
    10% {
        background-image: url(img/capacitores-banner.png);
    }

    15%,
    25% {
        background-image: url(img/cautin-banner.webp);
    }

    30%,
    40% {
        background-image: url(img/harware-banner.jpg);
    }

    45%,
    55% {
        background-image: url(img/pics-banner.jpeg);
    }

    60%,
    70% {
        background-image: url(img/resistecia-pic-banner.png);
    }

    75%,
    85% {
        background-image: url(img/recistencias-banner.webp);
    }

    90%,
    100% {
        background-image: url(img/soldando-banner.png);
    }
}


.banner-overlay {
    grid-column-start:1;
    grid-column-end:5;
    display: grid;
    grid-template-columns: 15% 30% 55%;
    grid-template-rows: 25% 20% 65%;
    inset: 0;
    background: linear-gradient(90deg,
            rgba(0, 0, 0, 0.7) 0%,
            rgba(0, 0, 0, 0.4) 40%,
            rgba(0, 0, 0, 0.1) 70%);  
}


.banner-content {
    grid-column: 2 ;
    grid-row: 2;
    font-family:"Merriweather";
    font-size: clamp(2rem, 5vw, 300.5rem);
    color: azure;
}

.banner-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.banner-content p {
    line-height: 1, 5;
    font-size: 1.1rem;
    margin-bottom: 30px;
}

.main-content {
    margin-top: 30px;
}

.subtitle {
    margin-left: 30px;
}