.banner-main{
    display: grid;
    grid-template-columns: 50% 50%;
    background: linear-gradient(90deg,
    rgba(26, 0, 0, 1) 0%, 
    rgb(5, 6, 38) 10%, 
    rgb(17, 15, 43) 20%, 
    rgb(30, 28, 58) 30%,
    rgba(20, 31, 74, 1) 40%, 
    rgba(15, 42, 90, 1) 50%, 
    rgba(8, 51, 107, 1) 59%, 
    rgba(0, 64, 125, 1) 70%, 
    rgba(0, 123, 184, 1) 80%, 
    rgba(0, 212, 255, 1) 90%);
}

.lado-izquierdo{
    color: azure;
    
}

.lado-derecho{
    position: relative;
      transform: none
}

.img-fondo{
    width: 100%;
    height: 1000px;
    object-fit: cover;
}

.img-circle {
    position: absolute;
    top: 20px;
    left: 30px;
      
}



