@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.main-banner{
background: radial-gradient(
    circle,rgba(2, 0, 36, 1) 0%, 
    rgba(9, 9, 121, 1) 35%, 
    rgba(19, 87, 171, 1) 67%, 
    rgba(0, 212, 255, 1) 100%
    );
    color: #fff;
    padding: 2rem 1rem 0;
}

.title{
   font-size: 1.5rem;
}

@media screen and (min-width: 1024px) {
    .title{
        font-size: 2.5rem ;
    }

    .description{
        font-size: 1rem;
    }
    
}

