@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.sbtitle-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Merriweather";
  font-size: 40px;
  margin-top: 40px;
  margin-bottom: 25px;
}

.categorias {
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  width: 100%;
  height: 400px;

}

.content-flex {
  grid-column: 2/3;
  grid-row: 1/2;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-clasificacion {
  border: 2px solid rgb(0, 0, 0);
  width: 15%;
  height: 60%;
  border-radius: 5px;
}

.card-clasificacion:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.4);
}

.card-content {
  width: 100%;
  height: 50%;

}

.card-img {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 80%;
  width: 100%;
}

.card-img img {

  width: 80%;
  height: 80%;


}

.card-text {
  height: 20%;
  color: black;

}

.card-text p {
  display: flex;
  justify-content: center;
  align-items: center;
}


.section-components {
  display: flex;
  flex-direction: column;
  margin-bottom: 200px;
  width: 100%;
 

}

.espaciados-one {
  height: 100px;
}


.fondo-section {
  background: white;

}

.content-right {
  display: flex;
  align-items: center;
  
  height: 1000px;

}

.content-right .text-grid {
  align-items: center;
  width: 40%;
}

.text-grid .text-info{
  margin-left: 25px;
}

.content-right .flexboxed {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 80%;

}




.content-left {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  height: 1000px;
  width: 100%;
  

}

.content-left .text-grid {
  width: 40%;
  align-items: center;
}

.content-left .flexboxed {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 80%;
}

.text-info h2 {
  font-size: 60px;
  font-family: "Roboto+Mono";

}

.text-info p {
  font-size: 40px;
  font-family: "Quicksand";
}

@media screen and (min-width: 360px) {
  .info-desplegable {
    display: none;
  }
}








.card-componente {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 5px;
}

.card-componente .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: hidden;
  overflow: hidden;
  transition: .5s;
  display: flex;
}

.card-componente .front {
  transform: perspective(600px) rotateY(0deg);
  border: solid 1px black;
  border-radius: 10px;
}

.card-componente .front img {
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.card-componente .front h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
  font-family: "Roboto+Slab";
  font-size: 25px;
}

.card-componente .back {
  transform: perspective(600px) rotateY(180deg);
  background: rgb(35, 165, 163);
  padding: 15px;
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  border: solid 1px black;
  border-radius: 10px;
}

.card-componente .back .link {
  border-top: solid 1px #f3f3f3;
  height: 50px;
  line-height: 50px;
}

.card-componente .back .link a {
  color: #f3f3f3;

}

.card-componente .back h3 {
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 2px;

}

.card-componente .back p {
  letter-spacing: 1px;
  font-size: 15px;
}

.card-componente:hover .front {
  transform: perspective(600px) rotateY(180deg);
}

.card-componente:hover .back {
  transform: perspective(600px) rotateY(360deg);
}