.subtitle{
    margin-top: 80px;
}


.letter-struture{
    display: flex;
    align-items: center;
    flex-direction: column;

}

.card{
   position: relative;
    height: 200px;
    width: 100%;
    background-size: cover;
    margin-top: 20px;
    border: 3px solid blue;;
}

.card-content{
    position: absolute;
    bottom: 120px;
    left: 140px;
    

}

.card img{
    height: 100%;
    width: 100%;
    background-size: cover;
    object-fit: cover;
}

