 h2{
    margin-top: 80px;
}


.letter-struture {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.card{
flex: 1;
width: 100%;
height: 200px;
overflow: hidden;    
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(1);
}

.card:hover{
    flex: 3;
}

.card:hover img{
    filter: none;
}