body{
    background-color: rgb(221, 240, 240);
}

.title-section{
    position: relative;
    left: 100px;
    width: 100%;
    top: 25px;
    height: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 40px;

    
}

.categorias {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
}

.card {
    width: 450px;
    height: 110px;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 10px rgba(0,10,10,0.10);
    margin: 17px;
    display: flex;
    align-items: center;
}

.card-content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.card-img {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.card img {
  width: 80px;
  height: 80px;
}

.card-text {
  flex: 1;
  text-align: left;
}







