
.principal{
    background-color: rgb(210, 210, 226)
}


.estructura{
   display: flex;
  justify-content:space-around;
  align-items:center;  
}

.card{
   border: 10px solid #795a5a;
   width:200px;
   height: 200px;
   padding: 10px;
   text-align: center;
   background-color: rgb(158, 224, 224);
}

.card img{
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 5px;
}

