.graphic{
    position: relative;
    display: grid;
    padding-top: 3rem ;
    grid-template-columns: 1fr 75%;
}

.graphic-woman{
    width: 100%;
    grid-column-start: 2;
}

.absolute{
    position: absolute;
}

.graphic-circles{
    height: 100%;

}

.graphic-circles img{
    width: 100%;
    height: 100%;
}