* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteiner{
    height: 100vh;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteiner img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}


header{
    background: black;
    height: 100px;
    display: flex;
    border:2px solid #ffffff;
}



li {
    list-style: none;
}

.logo a {
    text-decoration: none;
    color: #ffffff;
    display: flex;
    align-items: center;
}

.title h1 {
    font-size: 90px;
    font-family: "Manrope";
    color: white;
}