@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


html, body{
    height: 100%;
    width: 100%;
    margin: 0;
}

body{
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;  
}

.s-center{
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .s-center{
    text-align: left;
  }
  
}